# A quick start guide to using pjafroc

* `pjafroc` is the `python` implementation of `RJafroc`. However, not all `R` functions are implemented, only those essential to significance testing.
* Significance testing is the statistical analysis of ROC (or FROC) data to determine if there is a difference between the modalities or readers and, furthermore, quantifying the difference via relevant statistics, leading to the oft-quoted p-value and confidence intervals for estimates.
* It is assumed that the raw data consists of interpretations by observers of a set of cases containing diseased and non-diseased cases, in possibly multiple modalities.
* The following URLs, written in `Rmarkdown`, may be useful as they provide background material that is independent of the programming language: 
 * [The RJafroc Quick Start Book](https://dpc10ster.github.io/RJafrocQuickStart/)
 * [The RJafroc Roc Book](https://dpc10ster.github.io/RJafrocRocBook/)
 * [The RJafroc Froc Book](https://dpc10ster.github.io/RJafrocFrocBook/)

# Glossary of terms

* Treatment and modality are used interchangeably.
* Reader, radiologist or algorithmic observer are also used interchangeably.
* Rating: level of suspicion, recorded on an ordinal scale, with higher values associated with increasing confidence in presence of disease. 
* In the ROC paradigm each case interpretation results in **one** rating.
* In the FROC paradigm each case interpretation results in **zero or more** marked suspicious regions, each of which yields a rating reflecting confidence in presence of disease at each marked region. 
* FROC data consists of mark-rating pairs, where the number of mark-rating pairs on each case is a-priori unpredictable.
* K1 = number of non-diseased cases
* K2 = number of diseased cases
* K = K1 + K2 = total number of cases
* I = number of modalities
* J = number of readers
* FOM, the figure of merit, in my opinion the most important concept in the analysis; for a given treatment and modality it is a **scalar** measure of performance, usually in the range 0 to 1, with higher values corresponding to better performance.
* Significance testing: the analytic procedure used to determine if differences in FOM are statistically significant
* RRRC, random-reader random-case, i.e., the analysis allows for random variability associated with readers and random variability associated with cases; some readers are better than others, some are worse; some cases are more difficult to interpret than others, etc.

## Excel file format

* See [here](https://dpc10ster.github.io/RJafrocQuickStart/quick-start-data-format.html) for explanation of format of Excel file for ROC data and [here](https://dpc10ster.github.io/RJafrocQuickStart/quick-start-froc-data-format.html) for explanation of the format for FROC data. 
* NB: The final three columns in Excel file TRUTH worksheet, labeled ReaderID, ModalityID and Paradigm, can be omitted as they are ignored in the `pjafroc` implementation.
* Sample Excel data input files can be found in the `extdata` directory.
* The worksheet and column names are all case-sensitive.

In [1]:
import numpy as np

## Import necessary modules
* DfReadDataFile.py: read an Excel data file and return a dataset. 
* StSignificanceTesting.py: apply significance testing to an input dataset.
* UtilFigureOfMerit.py: compute figure of merit for each treatment-reader combination.
* UtilORVarComponents.py: compute variability components of dataset, used in significance testing.

In [2]:
from DfReadDataFile import DfReadDataFile, DfFroc2Roc, DfExtractDataset, DfRatings2Dataset
from StSignificanceTesting import StSignificanceTesting, StSignificanceTestingCadVsRad
from UtilFigureOfMerit import UtilFigureOfMerit
from UtilFigureOfMerit import UtilLesionWeightsDistr
from UtilORVarComponents import testJackKnife, UtilPseudoValues, UtilORVarComponents

## Read the Excel file

In [3]:
ds = DfReadDataFile("extdata/JT.xlsx")
len(ds)

7

* `DfReadDataFile` reads the data file "extdata/JT.xlsx" and returns a dataset object saved to `ds`.
* `DfReadDataFile` automatically senses the type of data, `DataType`, as follows:
 * If every non-diseased case has exactly one NL mark **and** every diseased case has exactly one LL mark, then `DataType = "ROC"` else `DataType = "FROC"`
* The `ds` object is a `list` containing 7 members: 
    * ds[0] = NL[0:I, 0:J, 0:K, 0:maxNL];
    * ds[1] = LL[0:I, 0:J, 0:K2, 0:maxLL];
    * ds[2] = `perCase`, array containing numbers of lesions per case
    * ds[3] = `relWeights`, the relative weights of lesions on diseased cases
    * ds[4] = `DataType`, the type of data, "FROC" or "ROC"
    * ds[5] = `modalityID`, names of modalities, strings, defaults to "0", "1", etc.  
    * ds[6] = `readerID`, names of readers, strings, defaults to "0", "1", etc.

In [4]:
I = len(ds[0][:,0,0,0])
J = len(ds[0][0,:,0,0])
print("number of modalities = ", I, ", number of readers = ", J)

K = len(ds[0][0,0,:,0])
K2 = len(ds[1][0,0,:,0])
K1 = K - K2
print("number of non-diseased cases = ", K1, ", number of diseased cases = ", K2)

maxNL = len(ds[0][0,0,0,:])
maxLL = len(ds[1][0,0,0,:])
print("max number of NLs per case = ", maxNL, ", max number of LLs per diseased case = ", maxLL)

number of modalities =  2 , number of readers =  9
number of non-diseased cases =  45 , number of diseased cases =  47
max number of NLs per case =  7 , max number of LLs per diseased case =  3

In [5]:
ds[0][0,0,:10,:] # NL ratings for first treatment and first reader for the first 10 non-diseased cases
#ds[0][1,0,:10,:] # NL ratings for second treatment and first reader ...
# maximum number of NLs per case over entire dataset is 7

array([[  4.,   6., -inf, -inf, -inf, -inf, -inf],
       [  4., -inf, -inf, -inf, -inf, -inf, -inf],
       [  7., -inf, -inf, -inf, -inf, -inf, -inf],
       [-inf, -inf, -inf, -inf, -inf, -inf, -inf],
       [-inf, -inf, -inf, -inf, -inf, -inf, -inf],
       [-inf, -inf, -inf, -inf, -inf, -inf, -inf],
       [-inf, -inf, -inf, -inf, -inf, -inf, -inf],
       [  5.,   4., -inf, -inf, -inf, -inf, -inf],
       [-inf, -inf, -inf, -inf, -inf, -inf, -inf],
       [-inf, -inf, -inf, -inf, -inf, -inf, -inf]])

* The first non-diseased case has two marked suspicious regions, rated 4 and 6.
* -inf is used to denote unmarked regins, i.e., missing data
* The second non-diseased case has one marked suspicious region, rated 4.
* The fourth non-diseased case has no marks.
* etc.
* In this dataset a 1 to 10 rating scale was used.
* Since the analysis only uses ordering information, the actual rating scale used is irrelevant. 
* The figure of merit is unaffected by any monotonic increasing transformation applied to the ratings.

The dataset consists of K = 92 cases

In [6]:
K = len(ds[0][0,0,:,:]) # 92 cases in all

In [7]:
ds[1][0,0,:10,:] # LL ratings for first treatment and first reader and first 10 diseased cases
#ds[1][0,1,:,:] # LL ratings for first treatment and second reader
# maximum number of LLs per case over entire dataset is 3

array([[  5., -inf, -inf],
       [ 10., -inf, -inf],
       [  7., -inf, -inf],
       [  6.,   9., -inf],
       [-inf,   9., -inf],
       [-inf, -inf, -inf],
       [ 10., -inf, -inf],
       [ 10., -inf, -inf],
       [-inf, -inf, -inf],
       [  2., -inf, -inf]])

In [8]:
len(ds[0][0,0,:,:]) - len(ds[1][0,0,:,:]) # 45 non-diseased cases

45

**In FROC paradigm NLs can occur on non-diseased and diseased cases**

In [9]:
ds[0][0,0,45:55,:] # NL ratings for first treatment and first reader and first 10 diseased cases

array([[-inf, -inf, -inf, -inf, -inf, -inf, -inf],
       [-inf, -inf, -inf, -inf, -inf, -inf, -inf],
       [-inf, -inf, -inf, -inf, -inf, -inf, -inf],
       [  7.,   9., -inf, -inf, -inf, -inf, -inf],
       [-inf, -inf, -inf, -inf, -inf, -inf, -inf],
       [  4., -inf, -inf, -inf, -inf, -inf, -inf],
       [-inf, -inf, -inf, -inf, -inf, -inf, -inf],
       [  4., -inf, -inf, -inf, -inf, -inf, -inf],
       [-inf, -inf, -inf, -inf, -inf, -inf, -inf],
       [  2., -inf, -inf, -inf, -inf, -inf, -inf]])

* The next statement displays the number of lesions per diseased case array, termed `perCase`
* The first diseased case has one lesion, the fourth has 2 lesions, etc.

In [10]:
ds[2]

array([1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 3, 2, 1, 1, 2, 1,
       1, 1, 1])

## Apply the significance testing procedure

In [11]:
st = StSignificanceTesting(ds)

In [12]:
StSignificanceTesting?

* Preceding line, when executed, opens the "pager" window below, which is the documentation of the function, summarized here for convenience.
* `StSignificanceTesting(ds, FOM='wAfroc', analysisOption='RRRC', alpha=0.05)`
* `ds` is the dataset.
* The default for `FOM` is "wAfroc".
* The default for `analysisOption` is "RRRC", an abbreviation for random-reader random-case, 
* `alpha`, default 0.05, is the signficance level of the test.
* The values of the members of `st` are described next.

In [13]:
st[0]["foms"]

,rdr0,rdr1,rdr2,rdr3,rdr4,rdr5,rdr6,rdr7,rdr8
trt0,0.724468,0.880969,0.809574,0.613318,0.577305,0.849330,0.892790,0.802600,0.763987
trt1,0.802364,0.968558,0.845981,0.751418,0.720922,0.871868,0.936958,0.899488,0.819031

In [14]:
st[0]["trtMeans"]

      Estimate
trt0  0.768260
trt1  0.846288

In [15]:
st[0]["trtMeanDiffs"]

             Estimate
trt0 - trt1 -0.078027

In [16]:
st[1]["TRAnova"]

          SS  DF        MS
T   0.027397   1  0.027397
R   0.146699   8  0.018337
TR  0.007422   8  0.000928

In [17]:
st[1]["VarCom"]

       Estimates      rhos
VarR    0.008427
VarTR   0.000115
Var     0.001662
Cov1    0.000485  0.292114
Cov2    0.000571  0.343705
Cov3    0.000208  0.124859

In [18]:
st[1]["IndividualTrt"]

      DF  msREachTrt  varEachTrt  cov2EachTrt
trt0   8    0.012510    0.001920     0.000784
trt1   8    0.006756    0.001404     0.000358

In [19]:
st[1]["IndividualRdr"]

      DF  msTEachRdr  varEachRdr  cov1EachRdr
rdr0   1    0.003034    0.002276     0.000799
rdr1   1    0.003836    0.000691     0.000116
rdr2   1    0.000663    0.001584     0.000554
rdr3   1    0.009536    0.002243     0.000890
rdr4   1    0.010313    0.002637     0.001004
rdr5   1    0.000254    0.001416     0.000121
rdr6   1    0.000975    0.000745     0.000006
rdr7   1    0.004694    0.001321     0.000396
rdr8   1    0.001515    0.002046     0.000483

In [20]:
st[2]["FTests"][0]

                 DF      MS   FStat  PValue
Treatment    1.0000  0.0274  6.5212  0.0116
Error      164.0528  0.0042     NaN     NaN

In [21]:
st[2]["ciDiffTrt"][0]

             Estimate  StdErr        DF       t   PrGTt   CI_lo   CI_hi
trt0 - trt1    -0.078  0.0306  164.0528 -2.5537  0.0116 -0.1384 -0.0177

In [22]:
st[2]["ciAvgRdrEachTrt"]

      Estimate    StdErr         DF     CI_lo     CI_hi      Cov2
trt0  0.768260  0.046626  19.570419  0.670863  0.865657  0.000784
trt1  0.846288  0.033303  17.465105  0.776167  0.916408  0.000358